<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.checkplanInfo.mapper.CheckplanInfoMapper">

    <resultMap type="CheckplanInfo" id="CheckplanInfoResult">
        <result property="checkId"    column="check_id"    />
        <result property="checkTime"    column="check_time"    />
        <result property="checkReasons"    column="check_reasons"    />
        <result property="planId"    column="plan_id"    />
    </resultMap>

    <sql id="selectCheckplanInfoVo">
     select plan_id, plan_name, res_id, stpo_id, starttime, endtime, plan_state, check_result, template_id from hn_plan_info
    </sql>

    <select id="selectCheckplanInfoList" parameterType="CheckplanInfo" resultMap="CheckplanInfoResult">
        select  p.plan_id,p.plan_name,r.sitename,r.longandlat,d.dept_name,d.phone,d.email,p.starttime,p.endtime,st.standard_name,st.standard_quality,st.standard_cycle,p.plan_state,p.check_result,t.temp_type
        FROM hn_plan_info p ,sys_dept d , hn_res_info r, hn_temp_info t, hn_standard_info st
        <where> d.dept_id = p.stpo_id
        AND r.res_id = p.res_id
        AND t.temp_id = p.template_id
        AND st.standard_id = t.standard_id
            <if test="checkId != null "> and check_id = #{checkId}</if>
            <if test="checkTime != null "> and check_time = #{checkTime}</if>
            <if test="checkReasons != null  and checkReasons != '' "> and check_reasons = #{checkReasons}</if>
            <if test="planId != null "> and plan_id = #{planId}</if>
        </where>
    </select>

    <select id="selectCheckplanInfoById" parameterType="Integer" resultMap="CheckplanInfoResult">
        <include refid="selectCheckplanInfoVo"/>
        where plan_id = #{planId}
    </select>

    <update id="updateCheckplanInfo" parameterType="CheckplanInfo">
        update hn_plan_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="planName != null  and planName != ''  ">plan_name = #{planName},</if>
            <if test="resId != null  ">res_id = #{resId},</if>
            <if test="stpoId != null  ">stpo_id = #{stpoId},</if>
            <if test="starttime != null  ">starttime = #{starttime},</if>
            <if test="endtime != null  ">endtime = #{endtime},</if>
            <if test="planState != null  and planState != ''  ">plan_state = #{planState},</if>
            <if test="checkResult != null  and checkResult != ''  ">check_result = #{checkResult},</if>
            <if test="templateId != null  ">template_id = #{templateId},</if>
        </trim>
        where plan_id = #{planId}
    </update>

    <delete id="deleteCheckplanInfoById" parameterType="Integer">
        delete from hn_checkplan_info where check_id = #{checkId}
    </delete>

    <delete id="deleteCheckplanInfoByIds" parameterType="String">
        delete from hn_checkplan_info where check_id in
        <foreach item="checkId" collection="array" open="(" separator="," close=")">
            #{checkId}
        </foreach>
    </delete>

</mapper>