<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-betInfo-add">



			<div class="form-group">
				<label class="col-sm-3 control-label">资源：</label>
				<div class="col-sm-8">
					<!--<input id="resId" name="resId" class="form-control" type="text">-->
					<select id="resId" name="resId" class="form-control">
						<option th:each="resId:${betTypesRes}" th:value="${resId.resId}" th:text="${resId.sitename}"></option>
					</select>
				</div>
			</div>



			<div class="form-group">	
				<label class="col-sm-3 control-label">驻点id：</label>
				<div class="col-sm-8">
					<!--<input id="deptId" name="deptId" class="form-control" type="text">-->
					<select id="deptId" name="deptId" class="form-control">
						<option th:each="deptId:${betTypesDept}" th:value="${deptId.deptId}" th:text="${deptId.deptName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<input id="resState" name="resState" class="form-control" type="text" readonly="readonly" value="已分配" placeholder="已分配">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/betInfo"
		$("#form-betInfo-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-betInfo-add').serialize());
	        }
	    }
	</script>
</body>
</html>
